@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');    

body{
    background-color: #ffffffad;
    font-family: 'Roboto', sans-serif;
    margin: 0;  
    transition: background 0.3s linear;
}
   
.container{
    width: 1170px;
    position: absolute;
    margin-left: 3%;
    margin-bottom: 2%;
    bottom: 0;
    border-radius: 15px;
    background: #414040;
  }
  .row{
    display: flex;
    flex-wrap: wrap;
  }
  ul{
    list-style: none;
  }
  
  .footer-col{
     width: 25%;
     padding: 0 15px;
  }
  .footer-col h4{
    font-size: 18px;
    color: #f2f2f2;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  .footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #0CB8EF;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
  }
  .footer-col ul li a{
    font-size: 16px;
    text-transform: none ;
    color: #f2f2f2;
    text-decoration: none;
    font-weight: 300;
    color: #f2f2f2;
    display: block;
    transition: all 0.3s ease;
  }
  .footer-col ul li a:hover{
    color: #b4b4b4;
    padding-left: 8px;
  }
  .footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #181818;
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #f2f2f2;
    transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover{
    color: #f2f2f2;
    background-color: #2e2e2e;
  }
  
  /*responsive*/
  
  
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }